body{
  font-family: Montserrat;
}



#title{
  background-color: #ff4668;
  color: #fff;
}

.container-fluid{
  padding: 3% 10%;
}

h1 {
   font-family: 'Montserrat, sans-serif';
   font-size: 3rem;
   line-height: 1.5;
   font-weight: 900;
  }

h2{
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
}

h3{
  font-family: "Montserrat-Bold";
}

p{
  color: #8f8f8f;
}

  /* navigation bar */

.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: Ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-family: Montserrat-light;
  font-size: 1.2rem;
  color: #000;
}

/* Download button */
.download-button{
  margin: auto;
}

.images{
  width: 60%;
  margin-left: 70%;
  transform: rotate(30deg);



}

/* features section */

#features{
  padding: 7% 15%;
  background-color: #fff;


}

.features-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color: #ef8172;
  margin: 1rem;
}

.icon:hover{
  color: #ff4668;
}

/* testimonials */

#testimonials{

  text-align: center;
  background-color: #ff4668;
  color: #fff;
}

.carousel-item{
    padding: 7% 15%;
}

.testimonial-image{
   width: 15%;
   border-radius: 100%;
   margin:20px;
}

/* press */
#press{
background-color: #ff4668;
text-align:center;
padding: 2%;
}

.press-logo{
  width: 15%;
  margin: 20px 50px 20px;
}


/* Pricing section */
#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;

}

/* CTA section */
#cta{
  background-color: #ff4c68;
  padding: 7% 15%;
  text-align: center;
  color: #fff;
}

.cta-header{
  font-family: 'Montserrat, sans-serif';
  font-size: 3rem;
}

/* Footer section */
#footer{
  padding: 7% 15%;
  text-align: center;
}

.social-icon{
  margin:5px 12px;
}

@media(max-width:1028px) {

#title{
  text-align:center;
}

.images{
  position: static;
  transform: rotate(0);
}
}
